@charset "utf-8";

@import "compass";
@import "compass-placeholders";
@import "quotation-marks";
@import "github-badge";


//// COLORS ////

$black: black;
$white: white;
$gold: #E0CD80;

//// RESET ////

* {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  color: inherit;
  display: inline;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  vertical-align: baseline;
  @include box-sizing(border-box);
}

head,
script,
style {
  display: none;
}


//// EXTENDABLES ////

%block {
  display: block;
  margin: auto;
  width: 600px;
}

%headline-font {
  font-family: "ambroise-firmin-std", serif;
}


//// LAYOUT ////

.layout {
  background: white;
  font-family: "tablet-gothic", sans-serif;
  font-size: 14px;
}

.layout--container {
  background: $gold;
  display: block;
  padding: 100px 0;
}


//// HEADER ////

@include keyframes(header--name-before) {
  0%, 19% {
    text-indent: 0;
    width: 56px;
    @include transform(rotateZ(0deg));
  }
  20%, 39% {
    color: $gold;
    text-indent: 0;
    @include transform(rotateZ(-180deg) translateY(-15px));
  }
  39.2% {
    color: $white;
    @include transform(rotateZ(-180deg) translateY(-15px));
  }
  39.8% {
    color: $white;
    @include transform(rotateZ(-180deg) translateY(-48px));
  }
  40%, 59% {
    color: $gold;
    text-indent: -0.35em;
    @include transform(rotateZ(-180deg) translateY(-48px));
  }
  60%, 79% {
    color: $gold;
    text-indent: -0.35em;
    width: 56px;
    @include transform(rotateZ(0deg) translateY(6px));
  }
  79.2%, 79.8% {
    color: $white;
  }
  80%, 100% {
    color: $gold;
    text-indent: -28px;
    width: 28px;
    @include transform(rotateZ(0deg));
  }
}

@include keyframes(header--name-after) {
  0%, 19% {
    width: 19px;
    @include transform(rotateZ(0deg));
  }
  20%, 39% {
    color: $gold;
    text-indent: 0;
    @include transform(rotateZ(180deg) translateX(3px) translateY(3.5px));
  }
  39.2% {
    color: $white;
    @include transform(rotateZ(180deg) translateX(3px) translateY(3.5px));
  }
  39.8% {
    color: $white;
    @include transform(rotateZ(180deg) translateX(-3px) translateY(-43px));
  }
  40%, 59% {
    color: $gold;
    text-indent: -0.35em;
    @include transform(rotateZ(180deg) translateX(-3px) translateY(-43px));
  }
  60%, 79% {
    color: $gold;
    text-indent: -0.35em;
    width: 19px;
    @include transform(rotateZ(0deg) translateY(1px));
  }
  79.2%, 79.8% {
    color: $white;
  }
  80%, 99.8% {
    color: $gold;
    text-indent: 0;
    width: 9px;
    @include transform(rotateZ(0deg));
  }
}

.header {
  @extend %block;
  @extend %headline-font;
  padding: 50px 0;
  text-align: center;
}

.header--name {
  background: inline-image("sass.svg") no-repeat center;
  display: inline-block;
  font-size: 50px;
  position: relative;
  letter-spacing: 1.7px;

  &::before {
    color: $gold;
    content: "“»";
    font-size: 150px;
    overflow: hidden;
    position: absolute;
    right: 100%;
    white-space: nowrap;
    width: 56px;
    @include animation(header--name-before 20s infinite);
  }

  &::after {
    color: $gold;
    content: "”«";
    left: 100%;
    overflow: hidden;
    position: absolute;
    top: 52%;
    white-space: nowrap;
    width: 19px;
    @include transform-origin(10px, 18px);
    @include animation(header--name-after 20s infinite);
  }
}

.header--name-word {
  @extend %display-inline-block;

  &::first-letter {
    font-size: 150px;
  }
}

.header--slogan {
  display: block;
  font-size: 12px;
  letter-spacing: 3px;
  margin: -1.9em 0 0 -0.07em;
  text-transform: uppercase;
}


//// GITHUB BADGE ////

.github-badge {
  @include github-badge(
    $background: $black,
    $backside-background: $gold,
    $text-color: $gold !important,
    $backside-text-color: $black !important
  );

  span {
    @extend %headline-font;
    letter-spacing: 1px;
    padding-bottom: 6px;
    @include box-shadow(none);
  }
}


//// MARKDOWN ////

.markdown {
  @extend %block;

  h1,
  h2,
  h3,
  p,
  pre,
  ul,
  ol {
    display: block;
    margin: 0 0 0.75rem;
  }

  strong {
    @extend %font-weight-bold;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    @extend %headline-font;
    color: $white;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    margin-top: 2.5rem;
    text-align: center;
    text-transform: uppercase;

    &::before,
    &::after {
      background: mix($gold, $white, 80%);
      content: "";
      display: block;
      height: 1px;
      margin: 0.3rem auto;
      width: 33%;
    }
  }

  h1 + h2,
  h2:first-child {
    margin-top: 0;
  }

  pre {
    $border-width: 50px;
    border: mix($black, $gold, 10%) solid;
    border-width: 1px $border-width;
    background: $white;
    color: darken($gold, 20%);
    font-size: 0.75rem;
    margin: 0 (-$border-width) 0.75rem;
    padding: 0.5rem;
    position: relative;

    &:before,
    &:after {
      background: mix($white, $gold, 10%);
      bottom: 0;
      content: "";
      position: absolute;
      right: floor($border-width * -0.8);
      top: 0;
      width: floor($border-width * 0.8);
    }

    &:before {
      left: floor($border-width * -0.8);
    }
  }
}


//// SYNTAX ////

.markdown pre {
  $color: #9D34C0;
  color: $color;

  kbd {
    display: block;
    font-weight: bold;

    &:before {
      content: "> ";
    }
  }

  em {
    color: lighten($color, 10%);
    display: inline;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    vertical-align: baseline;
  }

  b {
    color: lighten($color, 20%);
    display: inline;
    font-weight: bold;
    vertical-align: baseline;
  }

  i {
    color: lighten($color, 30%);
    display: inline;
    vertical-align: baseline;
  }

  q {
    color: lighten($color, 30%);
    display: inline;
    vertical-align: baseline;

    &:before,
    &:after {
      content: "";
    }
  }

  var {
    display: inline;
    text-decoration: underline;
    vertical-align: baseline;
  }
}


