@charset "utf-8";

@import "compass";
@import "compass-placeholders";
@import "quotation-marks";
@import "github-badge";


//// COLORS ////

$black: black;
$white: white;
$gold: #E0CD80;

//// RESET ////

* {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  color: inherit;
  display: inline;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  vertical-align: baseline;
  @include box-sizing(border-box);
}

head,
script,
style {
  display: none;
}


//// EXTENDABLES ////

%block {
  display: block;
  margin: auto;
  width: 600px;
}

%headline-font {
  font-family: "ambroise-firmin-std", serif;
}


//// LAYOUT ////

.layout {
  background: white;
  font-family: "tablet-gothic", sans-serif;
  font-size: 14px;
}

.layout--container {
  background: $gold;
  display: block;
  padding: 100px 0;
}


//// HEADER ////

@include keyframes(header--name-before) {
  0%, 48% {
    @include transform(rotateZ(0deg));
  }
  50%, 98% {
    @include transform(rotateZ(-180deg) translateY(-15px));
  }
}

@include keyframes(header--name-after) {
  0%, 48% {
    @include transform(rotateZ(0deg));
  }
  50%, 98% {
    @include transform(rotateZ(180deg));
  }
}

.header {
  @extend %block;
  @extend %headline-font;
  padding: 50px 0;
  text-align: center;
}

.header--name {
  display: inline-block;
  font-size: 50px;
  position: relative;
  letter-spacing: 1.7px;
  @include quotation-marks(en);

  &::before {
    font-size: 150px;
    position: absolute;
    right: 100%;
    @include animation(header--name-before 10s infinite);
  }

  &::after {
    left: 100%;
    position: absolute;
    top: 52%;
    @include transform-origin(10px, 18px);
    @include animation(header--name-after 10s infinite);
  }
}

.header--name-word {
  @extend %display-inline-block;

  &::first-letter {
    font-size: 150px;
  }
}

.header--slogan {
  display: block;
  font-size: 12px;
  letter-spacing: 3px;
  margin: -1.9em 0 0 -0.07em;
  text-transform: uppercase;
}


//// GITHUB BADGE ////

.github-badge {
  @include github-badge(
    $background: $black,
    $backside-background: $gold,
    $text-color: $gold !important,
    $backside-text-color: $black !important
  );

  span {
    @extend %headline-font;
    letter-spacing: 1px;
    padding-bottom: 6px;
    @include box-shadow(none);
  }
}

